body {
  font-family: 'Roboto Mono', monospace !important;
  margin: 0;
  background-color: black;
}

.row {
  background: white;
}

a {
  text-decoration: none !important;
  color: inherit;
}

h1 {
  margin-bottom: 30px;
}

.black_background {
  background-color: black;
  color: white;
}
.nav_ul {
  list-style-type: none;
  /*width: fit-content;*/
  padding-right: 30px;
  text-align: center;
  margin-top: 30px;
}

.nav_ul li {
  display: inline;
  margin-right: 20px;
}

#navbar {
  position: fixed;
  width: 100%;
  background: black;
  font-size: 25px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100px;
  top: 0px;
  z-index: 100;
}

nav.shrink {
  max-height: 35px;
}

nav.shrink ul {
  position: fixed;
  top: -27px;
  font-size: 15px;
  text-align: center;
  width: 100%;
}

nav{
  background-color:#ccc;
  /*Animation*/
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

#me {
  padding-top: 100px;
}

.content {
  text-align: center;
}

.margin-top {
  margin-top: 50px;
}

.project_title {
  border: 1px solid black;
  border-right: none;
  padding: 10px;
}

.project_description {
  border: 1px solid black;
}

.project_description img {
  width: 100%;
}

.underline {
  text-decoration: underline;
}

.row {
  margin-bottom: 40px;
}

.black_text {
  color: black !important;
}

#name {
  font-weight: bolder;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 15px;
  font-size: 75px;
  text-align: right;
}

.align-left {
  text-align: left;
}

.header {
  background: black;
}

.header h3 {
  color: white;
  /*text-align: left;*/
}

.top_margin {
  margin-top: 100px;
}

.link {
  text-decoration: underline;
  /*color: blue;*/
}

.icon {
  height: 50px !important;
  width: 50px !important;
  display: inline !important;
}
